@font-face {
    font-family: Roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-medium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Noto Sans Georgian';
    src: url(fonts/NotoSansGeorgian.ttf);
}
@font-face {
    font-family: 'datebashvili';
    src: url(fonts/datebashvili.ttf);
}
@font-face {
    font-family: 'bpg_extrasquare_mtavruli_2009';
    src: url(fonts/bpg_extrasquare_mtavruli_2009.ttf);
}
